:root {
    --font-primary-color: #000;
    --font-secondary-color: #4A4B4C;
    --font-link-color: #067BC2;

    --element-background1-color: #F6F6F6;
    --element-background2-color: #FFF;

    --element-primary-color: #EB5440;
    --element-secundary-color: #4A4B4B;
    --element-tertiary-color: #E8E8E8;
    --element-cuartiary-color: #C3C3C3;

    --main-margin: 1.25rem
}

body {

    font-size: 12px;
    font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    background-color: var(--element-background1-color);
    color: var(--font-secondary-color);
}

h1 {
    font-size: 18px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--font-primary-color);
}

h2 {
    font-size: 14px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--font-primary-color);
}

input {
    font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: none;
}

button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.margin-content {
    margin: 0 var(--main-margin) 0 var(--main-margin)
}

a {
    text-decoration: none;
    color: var(--font-link-color);
}

textarea.errorField,
select.errorField,
input.errorField {
    border: 1px solid var(--element-primary-color);
}

textarea.errorField::placeholder,
select.errorField::placeholder,
input.errorField::placeholder {
    color: var(--element-primary-color);
}

.errorMessage {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    color: var(--element-primary-color);
    padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {

    :root {
        --main-margin: 8rem;
    }

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 16px;
    }

    input {
        font-size: 14px;
    }

    .errorMessage {
        font-size: 14px;
    }

}